<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ todo_list_detail.name  }}</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todo_list_detail.name }}</h1>
            <h2>Tasks</h2>
            <a href="{% url "todo_list_update" todo_list_detail.id %}">Edit</a>
            <p><a href="{% url "todo_list_delete" todo_list_detail.id %}">Delete</a>
            <table>
                <tr>
                    <th>Task</th>
                    <th>Due date</th>
                </tr>
                {% for item in todo_list_detail.items.all %}
                <tr>
                    <td>{{ item.task }}</td>
                    <td>{{ item.due_date }}</td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </main>
</body>
</html>
