<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Lists</title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Lists</h1>
                <p><a href="./create">Create a new list</a></p>
                <p><a href="./items/create">Create a new item</a><p>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Number of Items</th>
                    </tr>
                    <tr>
                    {% for list in todo_lists %}
                        <td><a href="{% url "todo_list_detail" list.id %}">{{ list.name }}</a></td>
                        <td>{{ list.items.count }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </main>
    </body>
</html>
